<body>
    <div class="listOfArt">
        <a href="/">Home</a>
        <h2>List of Articles</h2>
        <a href="/articles/new">Create New</a>


        {{#each articles}}
        <h3>Title: <a href="/articles/{{title}}">{{title}}</a></h3>
        <span>Body: {{body}}</span><br>
        <span>Author: {{author}}</span><br>
        {{!-- <span>URL: {{urlTitle}}</span> --}}
        {{/each}}


    </div>

</body>